.container{
  font-size: 24px;
  width:100%;
}
.container p,h1{
  color:#FFFFFF;
  text-align: center;
}
.index{
  background: url('Images/Car.jpg');
  background-attachment: fixed;
  height:500px;
  background-size: cover;
  opacity:0.9;
}
.index1{
  background: url('Images/ship.jpg');
  background-attachment: fixed;
  height:500px;
  background-size: cover;
  opacity:0.9;
}
.index2{
  background: url('Images/Buld.jpg');
  background-attachment: fixed;
  height:500px;
  background-size: cover;
  opacity:0.9;
  
}
.para{
  background-color:#2E4053;
  padding: 2%;
}
.head{
  padding: 15%;
  width: 50%;
  
}
.head h1{
  background-color: #2E4053;
  margin-left:40%
}
body{
  width:99%;
  background-color:#273746;
}