.container{
  font-size: 24px;
  width:100%;
}
.container p,h1{
  color:black;
  text-align: center;
}
.index{
  background: url('pic1.jpg');
  background-attachment: fixed;
  height:500px;
  background-size: cover;
  opacity:0.8;
}
.index1{
  background: url('cat.jpg');
  background-attachment: fixed;
  height:500px;
  background-size: cover;
  opacity:0.8;
}
.index2{
  background: url('sea.jpg');
  background-attachment: fixed;
  height:500px;
  background-size: cover;
  opacity:0.8;
  
}
.para{
  background-color:white;
  padding: 2%;
}
.head{
  padding: 15%;
  width: 50%;
  
}
.head h1{
  background-color: white;
  margin-left:40%
}
body{
  width:99%
}